/home/cloud_user/DevOps-Portofolio/Create-EC2-Instance-With-Jenkins/.terraform
/home/cloud_user/DevOps-Portofolio/Create-EC2-Instance-With-Jenkins/jenkins-key.pem
/home/cloud_user/DevOps-Portofolio/Create-EC2-Instance-With-Jenkins/terraform.tfstate
/home/cloud_user/DevOps-Portofolio/Create-EC2-Instance-With-Jenkins/terraform.tfstate.backup
