apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appDeployment.name }} # Name of the Service
  namespace: demo-ha-app
  labels:
    app: {{ .Values.appDeployment.name }}
spec:
  selector:
    app: {{ .Values.appDeployment.name }} # Routes traffic to pods with this label
  ports:
    - protocol: TCP
      port: {{ .Values.appService.port }}       # Port the Service listens on
      targetPort: {{ .Values.appService.port }} # Port your containers are listening on
      name: {{ .Values.appDeployment.containers.port.name }}
  type: {{.Values.appService.type }} # Exposes service externally via cloud provider load balancer

