apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: demo-ha-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: ahesmat/incident-api:v1 # Replace with your actual app image
        ports:
        - containerPort: 80
          name: http
        resources:  
          requests:
            memory: "128Mi"  
            cpu: "100m"
          limits: 
            memory: "256Mi"
            cpu: "500m"         
        env:
        - name: DB_HOST # Injecting as an env var
          valueFrom:
            configMapKeyRef:
              name: app-config # Name of the ConfigMap
              key: DB_HOST  # Key from the ConfigMap
        - name: DB_PORT # Injecting another as env var
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: DB_PORT
        - name: DB_NAME # Injecting as an env var
          valueFrom:
            configMapKeyRef:
              name: app-config # Name of the ConfigMap
              key: DB_NAME  # Key from the ConfigMap
        - name: DB_USER # Injecting another as env var
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD         
        livenessProbe: 
          httpGet:
            path: /health
            port: http
          initialDelaySeconds: 10      #Time probe waits before start checking
          periodSeconds: 10        #Frequency of running the probe
          timeoutSeconds: 2          #number of seconds probe waits for a response
          failureThreshold: 3         # number of failures until probe starts the container
        readinessProbe:
          httpGet:      
            path: /health
            port: http
          initialDelaySeconds: 5      #Number of seconds probe waits before start checking
          periodSeconds: 5          # Frequency of probe checking for readiness
          timeoutSeconds: 2         # number of seconds probe waits for a response
          failureThreshold: 3        # number of consecutive successes to mark as ready
