apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: demo-ha-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: nginx:stable # Replace with your actual app image
        ports:
        - containerPort: 80
          name: http
        env:
        - name: DB_HOST # Injecting as an env var
          valueFrom:
            configMapKeyRef:
              name: app-config # Name of the ConfigMap
              key: DB_HOST  # Key from the ConfigMap
        - name: DB_PORT # Injecting another as env var
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: DB_PORT
        - name: DB_NAME # Injecting as an env var
          valueFrom:
            configMapKeyRef:
              name: app-config # Name of the ConfigMap
              key: DB_NAME  # Key from the ConfigMap
        - name: DB_USER # Injecting another as env var
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD          
